.contenedor {
    position: absolute;
    top: 60px;
    bottom: 60px;
    left: 0;
    right: 0;   
}

.barra-lateral-contenido {
    display: flex;
    align-items: center;
    height: 100%;
    justify-content: center;
}

.barra-lateral {
    padding: 1rem;
}

.espaciado {
    flex: 1 1 auto;
}